<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Simple Transfer Market</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  
   <% @stories.each do |story| %>
<div class="card-deck">
  <div class="card">
   <% if story["urlToImage"].present?  %>
    <img class="card-img-top"  <%= image_tag story["urlToImage"]%>
    <div class="card-body">
      <h5 class="card-title"><%= story['title'].upcase %> </h5>
       <a class="btn btn-primary" id='story' href="<%= story['url'] %>">Read The Story</a>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= Date.parse(story['publishedAt'])%></small>
    </div>
  </div>
  <% end %>
  <% end %>

  <!-- SCRIPTS -->
  <!-- JQuery -->
</body>

</html>