<% @stories.each do |story| %>
  <div class="media mb-3">
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        
        <%= story["source"]['name']%>
      </h5>

      
      by <%= story["author"] %>
    
    </div>
  </div>
<% end %>